@import "../variables";
@import "../mixins";
@import "../breakpoints";

.deal {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5em 1em;

  &__provider__container {
    @include breakpoint(min_small) {
      grid-column: 1 / 4;
    }
    grid-column: 1 / -1;
    @include flexCenter;
    img {
      width: 120px;
      height: auto;
    }
  }

  &__feature__container {
    @include breakpoint(min_small) {
      grid-column: 4 / 10;
    }
    grid-column: 1 / -1;
    gap: 2em;
    padding: 1em;
    @include flexBetween;
    align-items: flex-start;
  }

  &__products__container {
    @include breakpoint(min_small) {
      grid-column: 10 / -1;
    }
    grid-column: 1 / -1;
    padding: 1em;
    @include flexColumnCenter;
  }

  &__cta {
    background-color: $purple;
    padding: 1em;
    border-radius: $std-radius;
    margin-top: 1em;
    a {
      color: $white;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__header {
    grid-column: 1 / -1;
    padding: 1em;
    background-color: $grey;
    display: flex;
    justify-content: space-between;
  }

  &__footer {
    margin-top: 16px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__error {
    font-size: 24px;
    color: $purple;
    font-weight: 700;
    text-align: center;
    margin-top: 3em;
  }

  &__feature__icons {
    display: flex;
    li:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__feature-label {
    font-size: 14px;
    margin-bottom: 2px;
  }

  &__feature-value {
    font-weight: 700;
    font-size: 18px;
  }

  &__feature-hero-value {
    font-weight: 700;
    font-size: 28px;
  }

  &__products > li {
    display: inline-block;
  }

  &__products > li:not(:first-child) {
    margin-left: 2px;
  }
}
