@import "../variables";
@import "../mixins";

.filters {
  top: 0;

  &__group {
    background-color: $white;
    display: flex;
    gap: 1em;
    padding: 2em;
    flex-wrap: wrap;
  }

  &__chip {
    margin: 0.5em 0;
    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"] + label {
      font-size: 12px;
      cursor: pointer;
      border-radius: 50px;
      background-color: $white;
      border: solid 1px $dark-grey-border;
      padding: 0.5rem 2rem;
      margin: 0.5em 0;
      -moz-user-select: -moz-none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input[type="checkbox"]:checked + label {
      border: 2px solid $purple;
      color: $purple;
      font-weight: 700;
    }
  }
}
