@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexColumnCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flexReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

@mixin flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
