@import "./variables";

.site-trunk {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: 10px;
  padding-right: 10px;
}

.border {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: $white;
  border: 1px solid $grey-border;
  &:hover {
    border: 1px solid $dark-grey-border;
    background-color: lighten(#7c4182, 55%);
  }
}
